/* #navbar .logo {
  float: none;
  text-align: center;
} */


#navbar a {
  float: none;
  text-align: center;
  /* display: none; */
}

#navbar ul,
#navbar ul li {
  float: none;
}


#navbar ul li a {
  padding-bottom: 5px;
  border-bottom: 1px solid;
}

#book-online .text-center {
  margin-top: 300px;
}

/* Showcase */
#showcase {
  height: 100%;
  padding-top: 70px;
}

#showcase .showcase-content {
  padding-top: 70px;
  padding-bottom: 30px;
}

#showcase .h1 {
  font-size: 16px;
}


/* Home Info */
#home-info .info-img {
  display: none;
  height: 550px;
}

#home-info .info-content {
  float: none;
  width: 100%;
  height: auto;
}

#partners div {
  display: none;
}

#book-online .online-container {
  display: block;
}

/* Boxes */
.box {
  float: none;
  width: 100%;
}

.card {
  display: block;
}

/* About */
#about-info .info-right,
#about-info .info-left {
  float: none;
  width: 100%;
}

#about-info .info-right {
  margin-top: 30px;
}

.l-heading {
  text-align: center;
  line-height: 1.2;
}

/* Contact */
#contact-info .box {
  display: none;
}

#contact-input .container {
  height: auto;
  border-radius: 0px;
}

.card {
  width: 100%;
  margin-bottom: 10px;
}

#main-footer .footer-container {
  display: block;
  width: 100%;
}

@media screen and (max-width: 500px) {
  #showcase .showcase-content h1 {
    color: rgb(252, 252, 252);
    font-size: 25px;
    text-align: center;
  }

  #showcase .text-primary {
    color: #ffae00;
  }


}





