:root {
  --max-width: 1100px;
  --white: #ffffff;
	--light: #f0eff3;
	--black: #000000;
	--dark-blue: #1f2029;
	--dark-light: #626791;
	--red: #da2c4d;
	--yellow: #f8ab37;
	--grey: #ecedf3;
}

::selection {
	color: var(--white);
	background-color: var(--black);
}
::-moz-selection {
	color: var(--white);
	background-color: var(--black);
}
mark{
	color: var(--white);
	background-color: var(--black);
}
.section {
    position: relative;
	width: 100%;
	display: block;
	text-align: center;
	margin: 0 auto;
}
.over-hide {
    overflow: hidden;
}
.z-bigger {
    z-index: 100 !important;
}


.background-color{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--dark-blue);
	z-index: 1;
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear;
}
.checkbox:checked ~ .background-color{
	background-color: var(--white);
}


[type="checkbox"]:checked,
[type="checkbox"]:not(:checked),
[type="radio"]:checked,
[type="radio"]:not(:checked){
	position: absolute;
	left: -9999px;
	width: 0;
	height: 0;
	visibility: hidden;
}

.checkbox:checked + label,
.checkbox:not(:checked) + label{
	position: relative;
	width: 70px;
	display: inline-block;
	padding: 0;
	margin: 0 auto;
	text-align: center;
	margin: 17px 0;
	margin-top: 100px;
	height: 6px;
	border-radius: 4px;
	background-image: linear-gradient(298deg, var(--red), var(--yellow));
	z-index: 100 !important;
}

.iconify {
  font-size: 30px;
}

.checkbox:checked + label:before,
.checkbox:not(:checked) + label:before {
	position: absolute;
	font-family: 'unicons';
	cursor: pointer;
	top: -17px;
	z-index: 2;
	font-size: 20px;
	line-height: 40px;
	text-align: center;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear;
}

.checkbox:not(:checked) + label:before {
	content: '\eac1';
	left: 0;
	color: var(--grey);
	background-color: var(--dark-light);
	box-shadow: 0 4px 4px rgba(0,0,0,0.15), 0 0 0 1px rgba(26,53,71,0.07);
}

.checkbox:checked + label:before {
	content: '\eb8f';
	left: 30px;
	color: var(--yellow);
	background-color: var(--dark-blue);
	box-shadow: 0 4px 4px rgba(26,53,71,0.25), 0 0 0 1px rgba(26,53,71,0.07);
}

.checkbox:checked ~ .section .container .row .col-12 p{
	color: var(--dark-blue);
}


.checkbox-tools:checked + label,
.checkbox-tools:not(:checked) + label{
	position: relative;
	display: inline-block;
	padding: 20px;
	width: 110px;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 1px;
	margin: 0 auto;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 10px;
	text-align: center;
	border-radius: 4px;
	overflow: hidden;
	cursor: pointer;
	text-transform: uppercase;
	color: var(--white);
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear;
}

.checkbox-tools:not(:checked) + label{
	background-color: var(--dark-light);
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

/* Booking-Buttons */

.booking-buttons:checked + label,
.booking-buttons:not(:checked) + label{
	position: relative;
	display: -webkit-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
	-ms-flex-pack: center;
	text-align: center;
	padding: 0;
	padding: 6px 25px;
	font-size: 14px;
	line-height: 30px;
	letter-spacing: 1px;
	margin: 0 auto;
	margin-left: 6px;
	margin-right: 6px;
	margin-bottom: 16px;
	text-align: center;
	border-radius: 4px;
	cursor: pointer;
    color: var(--white);
	text-transform: uppercase;
	background-color: var(--dark-light);
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear;
}

.booking-buttons:not(:checked) + label::before{
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.booking-buttons:checked + label::before{
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.booking-buttons:not(:checked) + label:hover::before{
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.booking-buttons:checked + label::before,
.booking-buttons:not(:checked) + label::before{
	position: absolute;
	content: '';
	top: -2px;
	left: -2px;
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	border-radius: 4px;
	z-index: -2;
	background-image: linear-gradient(138deg, var(--red), var(--yellow));
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear;
}

.booking-buttons:not(:checked) + label::before{
	top: -1px;
	left: -1px;
	width: calc(100% + 2px);
	height: calc(100% + 2px);
}

.booking-buttons:checked + label::after,
.booking-buttons:not(:checked) + label::after{
	position: absolute;
	content: '';
	top: -2px;
	left: -2px;
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	border-radius: 4px;
	z-index: -2;
	background-color: var(--dark-light);
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear;
}

.booking-buttons:checked + label::after{
	opacity: 0;
}

.booking-buttons:checked + label .uil,
.booking-buttons:not(:checked) + label .uil{
	font-size: 20px;
}

.booking-buttons:checked + label .text,
.booking-buttons:not(:checked) + label .text{
	position: relative;
	display: inline-block;
	-webkit-transition: opacity 300ms linear;
	transition: opacity 300ms linear;
}

.booking-buttons:checked + label .text{
	opacity: 0.6;
}

.booking-buttons:checked + label .text::after,
.booking-buttons:not(:checked) + label .text::after{
	position: absolute;
	content: '';
	width: 0;
	left: 0;
	top: 50%;
	margin-top: -1px;
	height: 2px;
	background-image: linear-gradient(138deg, var(--red), var(--yellow));
	z-index: 1;
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear;
}

.booking-buttons:not(:checked) + label .text::after{
	width: 0;
}

.booking-buttons:checked + label .text::after{
	width: 100%;
}

/* .checkbox:checked ~ .section .container .row .col-12 .booking-buttons:not(:checked) + label,
.checkbox:checked ~ .section .container .row .col-12 .booking-buttons:checked + label{
	background-color: var(--light);
    color: var(--dark-blue);
}
.checkbox:checked ~ .section .container .row .col-12 .booking-buttons:checked + label::after,
.checkbox:checked ~ .section .container .row .col-12 .booking-buttons:not(:checked) + label::after{
	background-color: var(--light);
} */

.booking {
  display: block;
  text-align: center;
}

.booking h3 {
  color: rgb(73, 73, 73);
  text-decoration: underline dotted;
  font-size: 25px;
}

.button-search {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin-bottom: 20px;
}

.button-search button {
  background-color: #4d4d4d;
  margin: 0 auto;
  display: block;
  border-style: none;
  width: 200px;
  font-family: "Julius Sans One", sans-serif;
  color: #fff;
  border-radius: 5px;
  padding: 10px;
}

.button-search button:hover {
  cursor: pointer;
  background-color: rgb(115, 123, 139);
  transition: 0.5s;
}


/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Main Styling */
html,
body {
  font-family: "Julius Sans One", sans-serif;
  line-height: 1.7em;
  background-image: url(../img/hotel_batik_bg.png);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-attachment: fixed;
  background-size: cover;
}

a {
  color: #afafaf;
  text-decoration: none;
}

h1,
h2,
h3 {
  padding-bottom: 10px;
  font-family: "Julius Sans One", sans-serif;
  font-size: 30px;
  margin-bottom: 25px;
}

h2 {
  line-height: 40px;
  padding-top: 0;
  font-size: 50px;
  font-weight: normal;
}

h2 .text-primary {
  background: -webkit-linear-gradient(#013d75, #85acff);
  -webkit-background-clip: text;
  color: transparent;
}

p {
  margin: 10px 0;
  font-family: "Julius Sans One", sans-serif;
  font-size: 20px;
  color: #fff;
}

img {
  width: 100%;
}

/* Utility Classes */

.card {
  background: linear-gradient(#000000, #07114b, #4988fc);
  padding: 1rem;
}

.text-primary {
  color: #3ba0ff;
}

.text-center {
  text-align: center;
}

.lead {
  font-size: 20px;
}

.btn-light {
  color: white;
  border-style: solid;
  border-color: #fff;
  padding: 0.5rem;
  border-radius: 5px;
  width: 100%;
}

.header {
  grid-area: header;
}

.l-heading {
  font-size: 45px;
  padding-top: 0.5rem;
  color: #a0a0a0;
}

.m-heading {
  font-size: 3rem;
  padding-top: 0.5rem;
  color: #6e6e6e;
}


.box {
  float: left;
  width: 33.3%;
  padding: 50px;
  text-align:center;
}


/* Padding */
.py-1 {
  padding: 1.5rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}
.p-1 {
  padding: 1.5rem;
}
.p-2 {
  padding: 2rem;
}
.p-3 {
  padding: 3rem;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgb(0,0,0);
  background-color: rgba(0, 0, 0, 0.459);
  padding-top: 60px;
}

.modal-content {
  background: linear-gradient(#358ef3, #fff);
  /* display: block; */
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  width: 40%;
}

.close {
  position: absolute;
  right: 25px;
  color: rgb(235, 235, 235);
  font-size: 60px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #ffae00;
  cursor: pointer;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

#navbar .onclick {
  cursor: pointer;
}

#id01 .container button {
    background-color: rgb(15, 219, 255);
    color: #5c5c5c;
    padding: 14px 20px;
    font-size: 17px;
    margin: 8px 0;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    width: 100%;
  }

  #id01 .container .cancelbtn {
    width: 50%;
  }


  #id01 .fas.fa-sun.fa-7x {
    color: #ffa600;
  }

  #id01 label {
    font-size: 24px;
    color: #bebebe;
  }

  #id01 a {
    color: #000;
    text-decoration: underline 1px dotted;
  }

  #id01 b {
    color: #fff;
  }

  #id01 .cancelbtn {
    width: 50px;
  }


  #id01 .container input {
    height: 40px;
    width: 100%;
    margin: 10px 0;
    padding: 8px;
    border-radius: 10px;
    border-style: none;
  }



.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}



/* Navbar */
#navbar {
  background: linear-gradient(#63636e, #c4c4c4);
  color: white;
  overflow: auto;
  padding: 5px 0;
}

#navbar a {
  color: #ffffff;
  border-bottom: 3px transparent solid;
  transition: all 0.7s;
}

#navbar a:hover {
  border-color: #f8f8f8;
}


#navbar .logo {
  width: 65px;
  height: auto;
  padding-top: 2px;
  position: absolute;
  margin: 0 30px;
}


#navbar ul {
  list-style: none;
  float: right;
  font-size: 25px;
}

#navbar ul li {
  float: left;
}

#navbar ul li a {
  display: block;
  padding: 20px;
  padding-bottom: 0;
  text-align: center;
  margin: 0 30px;
}

#navbar ul li a:hover,
#navbar ul li a.current {
  color: #7efff4;
  border-color: #f8f8f8;
}


ul li ul{
  margin: 0px;
  padding: 0px;
  list-style: none;
  float: left;
  width: 200px;
  height: 40px;
  background-color: #000;
  opacity: .8;
  line-height: 40px;
  text-align: center;
  display: block, none;
}


/* Showcase */
#showcase {
  background: url("../img/T&C3.jpg") no-repeat center center/cover;
  height: 600px;
  margin-bottom: 60px;
}

#showcase .showcase-content {
  color: #89c2fc;
  text-align: left;
  padding-top: 15px;
}


#showcase .showcase-content h1 {
  font-size: 50px;
  line-height: 1em;
  margin-left: 20px;
}

#showcase .showcase-content p {
  padding-bottom: 100px;
  line-height: 1.5em;
}

#showcase .text-primary {
  background: -webkit-linear-gradient(#ff9900, #fff351);
  -webkit-background-clip: text;
  color: transparent;
}


/* Booking Form */







/* Home Info */
#home-info {
  height: 450px;
}


#home-info .info-img {
  float: left;
  width: 50%;
  background: url("../img/Hotel.jpg") no-repeat center center/cover;
  min-height: 100%;
  padding: 5rem;
}

#home-info .info-content {
  float: right;
  width: 50%;
  height: 100%;
  text-align: center;
  padding: 25px 30px;
  overflow: hidden;
  background: linear-gradient(#000000, #07114b, #4988fc);
  color: #ffffff;
}

#home-info .info-content p {
  padding: 0 20px 20px;
  color: #d3d1d1;
}


/* About Info */
#about-info {
  height: 450px;
  margin: 50px 20px;
  box-shadow: 7px 5px 10px 5px #0000004d;
}

#about-info .text-primary {
  color: #ffffff;
}

#about-info .info-img {
  float: right;
  width: 50%;
  background: url("../img/poolside.jpg") no-repeat center center/cover;
  min-height: 100%;
  padding: 5rem;
}

#about-info .info-img-2 {
  float: left;
  width: 50%;
  background: url("../img/beachbar.jpg") no-repeat center center/cover;
  min-height: 100%;
  padding: 5rem;
}

#about-info .info-img-3 {
  float: right;
  width: 50%;
  background: url("../img/Snorkeling.jpg") no-repeat center center/cover;
  min-height: 100%;
  padding: 5rem;
}

#about-info .info-content {
  float: left;
  width: 50%;
  height: 100%;
  text-align: center;
  padding: 25px 30px;
  overflow: hidden;
  background: linear-gradient(to right,#100f25, rgb(156, 156, 156));
  color: #ffffff;
}

#about-info .info-content-2 {
  float: right;
  width: 50%;
  height: 100%;
  text-align: center;
  padding: 25px 30px;
  overflow: hidden;
  background: linear-gradient(to right,#100f25, rgb(156, 156, 156));
  color: #ffffff;
}

#about-info .info-content p {
  padding: 30px;
  color: #d6d6d6;
}

#about-container {
  border: #d1d1d1 2px dotted;
  margin: 10px 20px;
  display: grid;
  justify-content: center;
  background-color: #00000066
}

#about-container .container {
  display: grid;
  grid-template-columns: repeat(4, 300px);
  grid-gap: 10px;
}


#about-container h3 {
  text-align: center;
  margin-bottom: 60px;
  color: #e7e7e7;
}

#about-container p {
  color: #dddbdb;
  margin-top: 0px;
  padding: 0 10px;
}

#about-container img {
  width: 300px;
  height: 400px;
  margin: auto;

}

#contact-info .container {
  background-image: url(../img/contact_bg\ copy.png);
  display: grid;
  grid-template-columns: 353px 353px 353px;
}


#contact-info h3 {
  color: #ffffff;
}

#contact-info .box {
  width: auto;
}

#contact .container {
  display: grid;
  grid-gap: 22px;
  margin: auto;
  max-width: 1100px;
  padding: 0 20px;
  border-radius: 20px;
  justify-content: space-evenly;
}

#contact .l-heading {
  margin-top: 20px;
}

#contact img {
  width: 150px;
  height: auto;
  margin: 0 auto;
  margin-bottom: 10px;
  justify-items: center;
}



#contact-btn .btn {
  display: block;
  width: 300px;
  font-size: 18px;
  border-radius: 10px;
  color: #fff;
  background: #333;
  padding: 13px 20px;
  border: none;
  cursor: pointer;
  margin-bottom: 20px;
}


#contact-btn .btn:hover {
  background: #667b91;
  transition: 0.5s;
}


#contact .form-group {
  margin-bottom: 20px;
}

#contact label {
  display: block;
  margin-bottom: 5px;
  color: #fff;
}



#contact-input .container {
  margin-top: 50px;
  background: linear-gradient(#000000, #0b174b, #0084ff);
}

#contact-input .l-heading {
  border-bottom: #444 dotted 2px;
}

#contact input,
#contact textarea {
  width: 80%;
  padding: 10px;
  border: 1px #ddd solid;
}

#contact textarea {
  height: 200px;
}

#contact input:focus,
#contact textarea:focus {
  outline: none;
  border-color: #aaaaaa;
}

#contact p {
  color: #d4d4d4;
}


#book-online .online-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  padding: 10px;
  height: 100vh;
}

#book-online .text-center {
  margin-top: 50px;
}

#book-online .h3 {
  color: #fff;
}

#paragraph-two {
  text-align: center;
  color: #8b8b8b;
  padding: 10px;
  font-size: 20px;
  background-color: #1f2029;
  line-height: 2rem;
}

/* Section: Partners */
#partners .items {
  display: grid;
  grid-template-columns: 335px 335px 335px 335px;
}

#partners .items img {
  display: grid;
  width: 240px;
  height: auto;
  margin: auto;
}

#partners h2 {
  margin-top: 275px;
  border-bottom: dotted 2px;
  margin-bottom: 55px;
}

#partners div {
  justify-content: center;
}

/* Footer */
#main-footer {
  text-align: center;
  bottom: 0;
  padding: 5px;
  /* margin-top: 200px; */
  background: #272727e8;
  color: #a0a0a0;
}


#main-footer a {
  color: #a0a0a0;
}

#main-footer p {
  color: #a0a0a0;
  background-color: #272727e8;
  padding: 2px;
}

#main-footer h2 {
  font-size: 30px;
  color: #a0a0a0;
  margin-top: 20px;
}
#main-footer h3 {
  color: #a0a0a0;
  margin-top: 20px;
}

#main-footer li {
  list-style: none;
  text-decoration: underline;
}

#main-footer .footer-container {
  display: grid;
  grid-gap: 1.5rem;
}

#main-footer .footer-container > *:last-child {
  grid-column: 1 / span 4;
  padding: 0.5rem;
  text-align: center;
  font-size: 0.75rem;
}

#main-footer .footer-container input[type="email"] {
  width: 90%;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

#main-footer .footer-container input[type="submit"] {
  width: 90%;
  height: 40px;
  color: #fff;
  background-color: #0076a5;
  border: none;
}

#main-footer .footer-container input[type="submit"]:hover {
  background-color: #1ab5f1;
  cursor: pointer;
  transition: 0.5s;
}


